//page-home {
//
//}
//
//ion-list{
//}
//
////.image{ grid-area: image; }
////.img-description{ grid-area: img-description; }
////.btn-view{ grid-area: btn-view; }
//
//.grid-container{
//  display: grid;
//  grid-row-gap: 5px;
//  grid-template-columns: auto auto auto;
//  grid-template-areas: 'image' 'img-description img-description img-description' 'btn-view';
//  //background-color: #2196F3;
//  padding: 10px;
//  //justify-items: stretch;
//  //align-items: center;
//  //justify-content: center;
//}
//
//
//.image{
//  width: 50px;
//  height: 50px;
//  margin: 5px 15px;
//  background-color: lightpink;
//}
//
//.img-description{
//  background-color: #2ec95c;
//}
//
//.btn-view>button{
//  width: 60px;
//  height: 30px;
//  //font-weight: bold;
//  font-size: large;
//  color: blue;
//  float: right;
//  background-color: unset;
//  align-items: center;
//
//}
