<!-- Generated template for the SignupComponent component -->
<div>
  {{text}}
</div>

<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form novalidate> <!--novalidate: remove browser default validation-->

    <fieldset>
      <ion-item class="form-group">
        <ion-label>First Name</ion-label>
        <ion-input type="text" class="form-control"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label>Last Name</ion-label>
        <ion-input type="text" class="form-control"></ion-input>
      </ion-item>
    </fieldset>

    <ion-item class="form-group">
      <ion-label>Email</ion-label>
      <ion-input type="email" class="form-control"></ion-input>
    </ion-item>

    <ion-item class="form-group">
      <ion-label>Password</ion-label>
      <ion-input type="password" class="form-control"></ion-input>
    </ion-item>


    <div class="form-group">
      <label>Language</label>
      <label>
        <select class="form-control">
          <option value="">select a language</option>
          <option *ngFor="let lang of langs" [value]="lang">
            {{lang}}
          </option>
        </select>
      </label>
    </div>


  </form>

</ion-content>
